.Button {
  font-weight: 100;
  cursor: pointer;
  background-color: #01b599;
  color: #fff;
  border: none;
  padding: 7px;
}

.Button:hover {
  background-color: #008f79;
}

.Button:active {
  background-color: #006858;
}

.Button:disabled {
  background-color: #00000075;
}
