.PasswordsGenerator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.PasswordsGenerator__passwords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  padding: 10px;
  background-color: #fff;
  margin-bottom: 25px;
  word-break: break-all;
}

.PasswordsGenerator__settings {
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  padding: 10px;
  background-color: #fff;
  margin-bottom: 25px;
}

.PasswordsGenerator__setting {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.PasswordsGenerator__setting label {
  margin-left: 10px;
}

.PasswordsGenerator__length {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.PasswordsGenerator__length label {
  margin-right: 10px;
}

.PasswordsGenerator__length input {
  width: 50px;
}

.PasswordsGenerator__amount {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.PasswordsGenerator__amount label {
  margin-right: 10px;
}

.PasswordsGenerator__amount input {
  width: 50px;
}

.PasswordsGenerator_error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  padding: 10px;
  background-color: #fff;
  margin-bottom: 25px;
}

.PasswordsGenerator_error {
  color: red;
}
